.wrapper {
  display: flex;
}

.side-bar {
  background-color: #253141;
  height: 100vh;
  width: 300px;
}

.main_chat {
  background-color: #ffffff;
  width: calc(100% - 300px);
}

.side-header {
  background-color: #253141;
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header-name a {
  color: #FAFAFA;
  text-decoration: none;
  font-size: 16px;
}

.header-room {
  font-size: 10px;
}

.header-room a {
  color: deepskyblue;
  border: solid 1px lightblue;
  text-decoration: none;
  padding: 14px;
}

.rooms {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}

.chatroom a {
  text-decoration: none;
  color: white; 

}


.main-header {
  background-color: #ffffff;
  height: 100px;
  padding: 0 40px;
}

.main-chat {
  background-color: #FAFAFA;
  height: calc(100vh - 190px);
  padding: 46px 40px 0 ;
}

.main-form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
}

